@import "./variables";
@import "./utilities";
@import "./header";

.background {
  height: 500px;
  background-image: url("../img/hero-pe-8.jpg");

  .jumbotron {
    height: 500px;
    position: relative;

    .jumbo-list {
      position: absolute;
      left: 500px;
      top: 100px;

      h2 {
        padding: 5px 0;
        span {
          font-style: italic;
          color: rgb(168, 36, 168);
          padding-right: 5px;
        }
      }

      li {
        list-style-type: none;
        padding: 10px 0;
        i {
          color: $greyColor;
        }
      }

      button {
        width: 200px;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        outline: none;
        border: 1px solid black;
        cursor: pointer;
        span {
          padding: 15px;
          i {
            font-size: 20px;
            padding-top: 5px;
          }
        }
      }
    }
  }
}
